/* This is Bootstrap with our customizations.
   Custom styles should appear here, avoid modifying Bootstrap source.*/

/* Customizations */

// Modify the default Theme Colors
// TODO: Customize all colors
$theme-colors: (
        primary: #20c997,
        secondary: #868e96,
        success: #31ad62,
        info: #2b88b8,
        warning: #fad000,
        danger: #e31d40,
        light: #f8f9fa,
        dark: #343a40
);

// Make sure the page is at least as tall as the window
html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}


/* Responsive card deck hack.
   TODO: Use SCSS variables, avoid this hack...
 */
.card-deck span {
      display: none;
}

@media (min-width:1200px){
    .card-deck span:nth-of-type(5n) {
      display: block;
      width: 100%;
    }

  .card{
    max-width: 33%;
  }

}
@media (min-width:992px) and (max-width: 1199px) {
   .card-deck span:nth-of-type(4n) {
      display: block;
      width: 100%;
    }

}
@media (min-width:768px) and (max-width: 991px) {
    .card-deck span:nth-of-type(3n) {
      display: block;
      width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .card-deck span:nth-of-type(2n) {
      display: block;
      width: 100%;
    }
}

/* Include unchanged Bootstrap source */
@import "bootstrap4_2/bootstrap";
