/* This is Bootstrap with our customizations.
   Custom styles should appear here, avoid modifying Bootstrap source.*/

/* Customizations */

// Modify the default Theme Colors
// TODO: Customize all colors
$theme-colors: (
        primary: #20c997,
        secondary: #868e96,
        success: #31ad62,
        info: #2b88b8,
        warning: #fad000,
        danger: #e31d40,
        light: #f8f9fa,
        dark: #343a40
);

// Make sure the page is at least as tall as the window
html, body {
  height: 100%;
}

body{ margin-top:50px;}
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}

#container {
  min-height: 100%;
}


/* Responsive card deck hack.
   TODO: Use SCSS variables, avoid this hack...
 */
.card-deck span {
      display: none;
}

@media (min-width:1200px){
    .card-deck span:nth-of-type(5n) {
      display: block;
      width: 100%;
    }

  .card{
    max-width: 33%;
  }

}
@media (min-width:992px) and (max-width: 1199px) {
   .card-deck span:nth-of-type(4n) {
      display: block;
      width: 100%;
    }

}
@media (min-width:768px) and (max-width: 991px) {
    .card-deck span:nth-of-type(3n) {
      display: block;
      width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .card-deck span:nth-of-type(2n) {
      display: block;
      width: 100%;
    }
}

/* Include unchanged Bootstrap source */
@import "bootstrap4_2/bootstrap";
