{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    All listings
{% endblock title %}

{% block searchBar %}
{{ block.super }}
{% endblock searchBar %}

{% block body %}
    {{ block.super }}
    {% block content %}
        <div class="card">
          <img class="card-img-top" src="{% static 'img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <h4>${{ post.price }} per {{ post.unit }}</h4>
              <p class="card-text">{{ post.body }}</p>
          </div>
          <div class="card-footer">
            <p class="card-text"><small class="text-muted">
            {{ post.postDate }} - {{ post.user }}<br>
                {% if user == post.user %}
                    <a href="{% url 'edit_post' slug=post.slug %}">Edit Post</a>
                {% endif %}
            </small></p>
          </div>
        </div>
    {% endblock content %}
{% endblock body %}