{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Detail{% endblock title %}

{% block content %}
  {% comment %}
  TODO: Poster profile snippet
  <div class="row">
    <div class="col-12 d-flex">
      <img class="rounded h-100 mr-4" src="{% static 'img/placeholder.svg' %}">
      <h4>{{ object.owner }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
  {% endcomment %}
  {% if profile == post.owner %}
    <div class="row mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Last modified {{ post.modified|naturaltime }}.</h5>
            <p class="card-text text-muted"></p>
            <a class="card-link" href="{% url 'board:update' slug=post.slug %}" role="button">Edit Post</a>
            <a class="card-link text-danger" href="{% url 'board:delete' slug=post.slug %}" role="button">Delete Post</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-12 col-sm-7">
      <div id="imageCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for image in post.images.all %}
            <li data-target="#imageCarousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner rounded">
          {% for image in object.images.all %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <img class="d-block w-100" src="{{ image.image.url }}" alt="First slide">
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-5">
      <h2>{{ object.title}}</h2>
      <h4 class="mt-3"><span class="font-weight-bold">${{ post.price }}</span> <small>/{{ object.unit }}</small></h4>
        <p class="text-muted">by <a href="{% url 'social:detail' slug=post.owner.social.slug %}">{{ post.owner }}</a></p>
      <a class="btn btn-primary btn-block mt-5" href="{% url 'messaging:new' slug=post.owner.slug %}" role="button">Message Seller</a>
      <hr>
      <h5>Description</h5>
      <p class="text-muted">{{ post.body }}</p>
    </div>
  </div>

  {% if post.tags.all %}
  <div class="row mt-3">
    <div class="col-12">
      <hr>
      <h5>Tags</h5>
      {# TODO: Make tags clickable, bring to post list filtered by this tag #}
      <h3>
      {% for tag in post.tags.all %}
          <a href="#" class="badge badge-pill badge-primary">{{ tag.name }}</a>
      {% endfor %}
      </h3>
    </div>
  </div>
  {% endif %}

  {% if similar_posts %}
  <div class="row mt-3">
    <div class="col-12">
      <hr>
      <h5>Similar Posts</h5>
      <div class="card-deck">
        {% for p in similar_posts %}
          {% include 'board/post_card_widget.html' with post=p %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}
