{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}All Listings{% endblock title %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12">
            <form id="searchform" class="input-group" action="{% url 'board:search'%}" method="get" accept-charset="utf-8">
              <input class="form-control" id="searchbox" name="q" type="text" placeholder="Search for..." aria-label="Search for...">
                <select class="form-control" id="sort" name="sort" type="text">
                    <option value = "" disabled selected hidden>Sort by...</option>
                    <option value="modified">Date (newest)</option>
                    <option value="-modified">Date (oldest)</option>
                    <option value="price">Price (lowest first)</option>
                    <option value="-price">Price (highest first)</option>
                  </select>
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
              </span>
            </form>
        </div>
    </div>

  <div class="row">
    <div class="col-12">
      {% if object_list %}
        <div class="card-columns">
          {% for post in object_list %}
            <div class="card">
              <img class="card-img-top" src="{% static 'img/placeholder.svg' %}">
              <div class="card-body">
                <h5 class="card-title mb-1"><a href="{% url 'board:detail' slug=post.slug %}">{{ post.title|truncatechars:60 }}</a></h5>
                <h6 class="text-muted mb-3"><small>by <a href="{% url 'social:detail' slug=post.owner.social.slug %}" class="text-muted">{{ post.owner }}</a></small></h6>
                <h5 class="">${{ post.price }} /{{ post.unit }}</h5>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h2 class="text-muted text-center my-5">
          No posts here :(
          {% if profile.is_seller %}
            <br>Why not <a href="{% url 'board:create' %}">make one?</a>
          {% endif %}
        </h2>
      {% endif %}
    </div>
  </div>

  {% comment %} Pagination navigation {% endcomment %}
  {% if is_paginated %}
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}

            {% for i in paginator.page_range %}
              {% if i == page_obj.number %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  {% endif %}
{% endblock content %}
