{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ object.owner }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-12 col-sm-3 mb-4">
      <img class="rounded w-100" src="{% static 'img/placeholder.svg' %}">
    </div>
    <div class="col-12 col-sm-3 mb-4">
      <h2>{{ object.owner }}</h2>
      <p class="text-center"><i>{{ object.tagline }}</i></p>
      <p class="text-muted">
        <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Location&emsp;|&emsp;Other information
        <br>
        <span class="text-warning">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>
        <span class="ml-1">(1234)</span>
          <br>
          <a href="{% url 'messaging:new' slug=object.owner.slug%}">Message me!</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs mb-4" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#sellerPosts" role="tab">Posts (123)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sellerReviews" role="tab">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sellerAbout" role="tab">About</a>
        </li>
      </ul>
      <div class="tab-content" id="sellerTabs">
        <div class="tab-pane fade show active" id="sellerPosts" role="tabpanel">
          {# TODO: Use grid columns #}
          {% if posts_list %}
              <div class="card-deck">
                {% for post in posts_list %}
                  <div class="card">
                    <img class="card-img-top" src="{% static 'img/placeholder.svg' %}">
                    <div class="card-body">
                      <h5 class="card-title mb-1"><a href="{% url 'board:detail' slug=post.slug %}">{{ post.title|truncatechars:60 }}</a></h5>
                      <h6 class="text-muted mb-3"><small>by <a href="{% url 'social:detail' slug=post.owner.social.slug %}" class="text-muted">{{ post.owner }}</a></small></h6>
                      <h5 class="">${{ post.price }} /{{ post.unit }}</h5>
                    </div>
                  </div>
                {% endfor %}
              </div>
          {% else %}
            <h2 class="text-muted text-center my-5">
              No posts yet!
            </h2>
          {% endif %}
        </div>
        <div class="tab-pane fade" id="sellerReviews" role="tabpanel">
          reviews
        </div>
        <div class="tab-pane fade" id="sellerAbout" role="tabpanel">
          {{ object.bio }}
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
    </div>
  </div>
{% endblock content %}
